/* Light mode theme  */
:root {
  --primary: #FF868E;

  --text-primary: #1D1D1D;
  --text-secondary: #8C8C8C;
  --background-primary: #F8F8F7;
  --background-secondary: #FBE0DC;

  --btn-color: #8C8C8C;
  --input-color: #8C8C8C;
  --input-background: #fff;

  --card-background: rgba(255, 134, 142, 0.60);
  --card-border: #FBE0DC;
  --card-breed-title: #fff;
}

/* Dark mode theme  */
[data-theme='dark'] {
  --primary: #FF868E;

  --text-primary: #fff;
  --text-secondary: #8C8C8C;
  --background-primary: #1D1D1D;
  --background-secondary: rgba(255, 255, 255, 0.05);

  --btn-color: #FF868E;
  --input-color: #fff;
  --input-background: rgba(255, 255, 255, 0.05);

  --card-background: rgba(255, 134, 142, 0.60);
  --card-border: rgba(255, 134, 142, 0.20);
  --card-breed-title: #282828;
} 
