.page {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  padding: 20px;
  background: var(--input-background);
  overflow: hidden;
  overflow-y: auto;
}

.cat_info {
  margin-top: 25px;
  border-radius: 20px;
  border: 2px solid var(--card-border);
  padding: 75px 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.cat_title {
  position: absolute;
  text-align: center;
  top: -30px;
}

.cat_title h2 {
  font-size: 36px;
  font-weight: 500;
  background: var(--card-breed-title);
  border-radius: 20px;
}

.cat_title h4 {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 500;

  width: 220px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cat_info_box {
  width: 265px;
}

.cat_info_box p  {
  margin-bottom: 10px;
  font-size: 16px;
  color: var(--text-secondary);
}

.cat_info_box p span {
  font-size: 16px;
  font-weight: 500;
  color: var(--text-primary);
}

