.page {
  width: 100%;
  height: 100%;
  max-height: 770px;
  border-radius: 20px;
  padding: 20px;
  background: var(--input-background);
  overflow: hidden;
  overflow-y: auto;
}

.gallery_option {
  display: flex;
  justify-content: space-between;
}

.upload_btn {
  display: flex;
  gap: 10px;
  align-items: center;

  padding: 12px 30px;
  border-radius: 10px;
  background: var(--btn-background-primary);
  color: var(--primary);

  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; 
  letter-spacing: 2px;
}

.upload_btn:active {
  background: var(--primary);
  color: #fff;
}

.upload_btn:active svg path {
  fill: #fff;
}

.cat_card {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .4s ease-in-out;
}

.cat_card:hover {
  background: var(--card-background);
  transition: .4s ease-in-out;
}

.cat_card img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.cat_card_info {
  transform: translateY(30px);
  opacity: 0;
  transition: .4s ease-in-out;
}

.cat_card:hover .cat_card_info {
  transform: translateY(0);
  opacity: 1;
  transition: .4s ease-in-out;
}

/* FORM START */

.form {
  padding: 10px 20px;
  margin: 20px 0;
  width: 100%;
  border-radius: 20px;
  background: var(--input-background-secondary);
}

.form select, .form option {
  cursor: pointer;
  height: 40px;
  color: var(--text-primary);
  background: var(--btn-background-secondary);
}

.form_group {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 10px;
}

.form_input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_input label {
  color: var(--text-secondary);
  font-size: 10px;
  font-weight: 500;
  line-height: 18px; 
  text-transform: uppercase;
  margin-left: 15px;
}

/* FORM END */

/* UPLOAD FORM START*/

.upload_form h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}

.upload_form h4 {
  color: var(--text-secondary);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 40px;
  text-align: center;
}

.upload_form a {
  color: var(--primary);
}

.upload_form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 320px;
  cursor: pointer;

  border-radius: 20px;
  border: 2px dashed var(--btn-background-primary);
  background: var(--input-background);
  margin-bottom: 20px;
}

.upload_form_error form {
  border: 2px dashed var(--primary);
  background: rgba(255, 134, 142, 0.20);
}

.upload_form_content {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload_form_content svg {
  position: absolute;
  top: 50%;  
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload_form_content svg path {
  fill: var(--input-background-secondary)
}

.upload_form_content_text {
  z-index: 1;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.upload_form_content_text span {
  color: var(--text-secondary);
  font-weight: 400;
}

.upload_form_btn {
  cursor: pointer;
  border-radius: 10px;
  padding: 12px 30px;
  background: var(--primary);
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px; 
  letter-spacing: 2px;
  width: 180px;
  margin: 0 auto;
}

.info_box {
  display: flex;
  align-items: center;
  gap: 20px;
  background: var(--input-background);
  border-radius: 10px;
  padding: 18px 25px;
  margin-bottom: 10px;
}

.info_text {
  color: var(--text-secondary);
  font-size: 16px;
  line-height: 24px;
}

/* UPLOAD FORM END*/